$primary_color: #AAA;
$bucks_blue:#177cb4;
$bucks_pink: #bc1c6c;

body {
  background-color: $primary_color;
  width: 825px;
  font: {
    family: Verdana;
    size: 14px;

  }
}
a.featured {
  
  background: url('../../ticked.png') no-repeat left;
  padding: 0 0 0 15px;
  color: $bucks_blue;
}
a.unfeatured {
  
  background: url('../../unticked.png') no-repeat left;
  padding: 0 0 0 15px;
  color: $bucks_blue;
}

a {
  color: #0000FF;
  img {
    border: none;
  }
}
#hotposts {
  display:none;
}
.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 100%;
  margin: 0 auto;
  background: #fff;
  padding: 20px 0px;
  border: solid 1px #e7e7e7;
  margin-top: -20px;
  min-height: 450px;
}

#content {
min-width:80%;
padding-left:80px;
  clear: both;
  padding-top: 20px;
}

.contentshow { 
  max-width:93%; 
  clear: both;
  padding-top: 20px;
  padding-right:55px;
}

li.featured {
  
padding:1em  em .8em;
margin-bottom: 1em; 
}
li.featured a{
  color: $bucks_pink !important;
}

li.featured span.highpriority{
font-size: 80%;
float:right;
  background-color: $bucks_pink !important;
  color: #fff;
float:right; height:29px;
  padding-left:10px;
    padding-right:10px; 
    padding-top:2px; 
}

li.featured span.location{
font-size: 80%;
  background-color: $bucks_pink !important;
  color: #fff;
 float:right; height:29px;
  padding-left:10px;
    padding-right:10px; 
    padding-top:2px;  
}

 
span.location{
font-size: 90%;
 color: $bucks_blue;
  background-color:#eeeeee;
 
float:right; height:29px;
  padding-left:10px;
    padding-right:10px; 
    padding-top:2px;

}



li.notfeatured span.location{
font-size: 80%;
 color: $bucks_blue;
  background-color:#eeeeee;
 
float:right; height:29px;
  padding-left:10px;
    padding-right:10px; 
    padding-top:2px;
}
li.featured span.divider{
  background-color: #fff !important;
 float:right;
  padding:2px;

}
span.dividersw{
  background-color: #fff !important;
 float:right;
  padding:2px;

}


.back {
  font-size: 90%;
 color: $bucks_blue; 
 padding:10px;
 margin-left:65px;
 float:left; 
}
.social {
  float:left; 
  margin-top:-20px;


}
.dating {
  margin-top:5px; 
   
}

p.article_main {
  font-size:80%;
  max-width:100%;
  color: #626262;
  padding:10px;
}
 
p.article_main a {
  color: #177cb4;
  font-size: 90%;

}

p.article_main a:hover {
  color: #0095d3;
}

li.featured hr{
  background-color: $bucks_pink !important;
 
}

li.featured hr.below{ 
    background-color: rgba(255, 255, 255, 0.3) !important; 
 
}

li.notfeatured {
  
padding:1em 0 .8em;
}
span.date {
  font-size:80%;  
  float:right; 
  color: $bucks_blue;
  background-color:#eeeeee;
  padding-left:10px;
    padding-right:10px; 
    padding-top:2px;
    height:29px;
}


.select-style { 
    width: 129px;
    border-radius: 3px;
    overflow: hidden;
    background: #eaeaea url("../../drop.png") no-repeat 90% 50%; 
     
    margin-right:30px;
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.select-style select:focus {
    outline: none;
}


 
p.flash {


background-color:$bucks_blue;
border:3px solid #eaeaea;
-moz-background-clip:padding;
-webkit-background-clip:padding;
-o-background-clip:padding-box;
-ms-background-clip:padding-box;
-khtml-background-clip:padding-box;
background-clip:padding-box;
text-shadow:rgba(0, 0, 0, 0.6) 0 -1px;
color: #eaeaea;
margin:0 auto;
position:absolute;
top:-51px;
left:0;
padding:.8em .8em;
width:100%;
text-align:center;
border-top:0;
}

 
p.flash:empty {

height:0px;
overflow:hidden;
padding:0;
border-width:0;
-moz-box-shadow:none;
-webkit-box-shadow:none;
-o-box-shadow:none;
box-shadow:none;
background:none;
}

 input#q_body_cont {
  width:150px;
  float:right; 
  margin:-22px 80px 3px 14px;
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #1c81b8;
  color: #7b7b7b;
  font-size:0.9em;
  outline: 0;
   box-shadow: 0 0 0  ;  
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #7b7b7b;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #7b7b7b;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #7b7b7b;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #7b7b7b;
}
 
 .whostitle { 

font-weight:bold;
color:#177CB5; 

text-transform: capitalize;
font-size:1.05em;
 text-shadow: 1px 1px 1px #fff;
 }
#example {
  display:none;
}

.main_art_tit {
 
margin: 0px;
padding-top:10px;
padding-bottom:10px; 
padding-left:5px;
line-height:1em; 
 background-color:#eeeeee;
 max-width:93%;
 height: 70px;
}

form#article_search input[type=submit] {
float: right;
  width:30px; 
height: 25px;  
background: url('../../search.png')  no-repeat 90% 50%; 
color: rgb(41,140,195);
text-shadow: 1px 1px 1px #fff;
text-decoration: none;
letter-spacing: 1px;
font-size: 90%;
color: rgb(41,140,195);
border: 0;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
outline: 0; 
cursor: pointer;
margin-top:-20px;
margin-right: -190px;
}

.labeldesctitle{
  color: $bucks_blue;
  font-weight:bold;
  font-size:120%;
  text-transform:capitalize;
} 
